[submodule "c++/bitcoin_fun/mbedtls"]
	path = c++/bitcoin_fun/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "c++/tutorials/gtest/googletest"]
	path = c++/tutorials/gtest/googletest
	url = https://github.com/google/googletest
